{% extends app.request.isXmlHttpRequest ? "PhotolorentSiteBundle::ajax.html.twig" : "PhotolorentSiteBundle::base.html.twig" %}
{% block content %}
    {% block slider %}
    <div class="slider">
        <div class="portrait">
            {% block logo %}
                <h1 class="logo"><a href="{{ path('photolorent_site_default_index') }}">PhotoLorent.be</a></h1>
            {% endblock logo %}
            {% block portrait %}
                {# Put the right content for the current page#}
            {% endblock portrait %}
        </div>
        {% block slides %}
            {% if files|length > 0 %}
                {% for file in files %}
                    <img class="slide{% if loop.first %} first current{% endif %}{% if loop.last %} last{% endif %}" src="" data-src="{{ asset(directory ~ file.filename)|imresize('slider') }}" alt="{{ 'alternate_text'|trans }}"/>
                {% endfor %}
            {% else %}
                <p>{{ 'no_pictures_found'|trans }}</p>
            {% endif %}
        {% endblock slides %}
        <a href="#" class="pager next">></a>
        <a href="#" class="pager previous"><</a>
    </div>
    {% endblock slider  %}
    {% block menu %}
        <nav class="menu">
            <ul>
                <li><a{% if is_active_path(path('photolorent_site_default_index')) %} class="active"{% endif %} href="{{ path('photolorent_site_default_index') }}">Home</a></li>
                <li><a{% if is_active_path(path('photolorent_site_default_wedding')) %} class="active"{% endif %}  href="{{ path('photolorent_site_default_wedding') }}">Wedding</a></li>
                <li><a{% if is_active_path(path('photolorent_site_default_onstage')) %} class="active"{% endif %}  href="{{ path('photolorent_site_default_onstage') }}">On stage</a></li>
                <li><a{% if is_active_path(path('photolorent_site_default_artsport')) %} class="active"{% endif %}  href="{{ path('photolorent_site_default_artsport') }}">Art/Sport</a></li>
                <li><a href="http://stradamedias.zenfolio.com" target="_blank">Professional</a></li>
            </ul>
        </nav>
    {% endblock menu %}
{% endblock content %}